html, body { height: 100%; }

body {margin: 0;}

#apps {
    background: -moz-linear-gradient(-45deg, violet,navy);
    overflow-y:scroll;
}

.appname {
    color:whitesmoke;
    font-size:14px;
    position: relative;
    overflow:hidden;
    z-index: 1;
}

.tile {
    display: inline-block;
    height: 128px;
    background: no-repeat center;
}

.letter {
    color: white;
    font-size:40px;
    margin: 5%;
    vertical-align: middle
}

#scrollbar {
    margin-top:10%;
    position:sticky;
    float: right;
}

#menu_settings {
    display:none;
}

#settings {
    float:right;font-size:22px;margin-right:5%; margin-top:4%;
}
