* {
    padding: 0px;
    margin: 0px;
}

#apps {
    background: -moz-linear-gradient(-45deg, violet,navy);
}

.appname {
    color:whitesmoke;
    font-size:14px;
    position: relative;
    overflow:hidden;
    z-index: 1;
}

.tile {
    display: inline-block;
    width: 30%;
    height: 30px;
    background: no-repeat center;
}

.letter {
    color: white;
    font-size:40px;
    margin: 5%;
    vertical-align: middle
}
